<div class="main-content-wrapper">
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <span>
        <img src="./assets/images/logo.png" alt="logo">
      </span>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item">

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Gas</a>
              <a class="dropdown-item" href="#">Electrical</a>
              <a class="dropdown-item" href="#">Water</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Other Domains</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Innovation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="onclicklogin()" type="button">Login</button>
        </form>
      </div>
    </nav>
  </header>
  <main class="bd-masthead" id="content" role="main">
    <div class="container">
      <div class="row">
        <div class="col-6 mx-auto col-md-6 order-md-2">
          <video class="videolayout" oncanplay="this.muted=false" controls autoplay
            src="./assets/videos/Home_E&U.mp4"></video>
        </div>
        <div class="col-md-6 order-md-1 text-center text-md-left pr-md-5">
          <h3 class="mb-3 bd-text-purple-bright">HOW IT WORKS?</h3>
          <p class="lead">
            The Energy and Utilities Industry globally covers electric generation: transmission, distribution and
            retailing, transmission, distribution and retailing of natural gas and water services provision.
          </p>
          <p class="lead">“Mobile workforce management” refers to the suite of tools—including processes, software,
            applications, networks, and related services—used to schedule, monitor, track, and analyze the performance
            of mobile teams as they deliver services and support your customers.</p>
          <div class="row mx-n2">
            <div class="col-md px-2">
              <a><button class="btn btn-lg btn-bd-primary w-100 mb-3" data-toggle="modal" data-target="#exampleModal"
                  style="border-color: #7952b3;">Get
                  started</button></a>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Team Work Demo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <video class="videolayout" oncanplay="this.muted=false" controls
                      src="./assets/videos/Home_E&U.mp4"></video>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="masthead-followup row m-0 border border-white">
    <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
      <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="currentcolor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2"
        viewBox="0 0 32 32" focusable="false">
        <title>Install</title>
        <path d="M28 22v8H4v-8M16 4v20m-8-8l8 8 8-8"></path>
      </svg>
      <h3>Installation</h3>
      <p>Includes Apk/Ipa for both android and ios users whenever there is updated release. Package managed installs do
        include our build system and readme.</p>

      <div>
        <h4>Android:</h4>
        <a href="/images/myw3schoolsimage.jpg" download>
          <span>android apk</span>
        </a>
      </div>
      <div>
        <h4>IOS:</h4>
        <a href="/images/myw3schoolsimage.jpg" download>
          <span>IOS apk</span>
        </a>
      </div>

      <hr class="half-rule">
      <a class="btn btn-outline-primary" style="border-color: #7952b3;" href="#">Read
        installation docs</a>
    </div>

    <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
      <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="currentcolor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2"
        viewBox="0 0 32 32" focusable="false">
        <title>Download</title>
        <path d="M9 22c-9 1-8-10 0-9C6 2 23 2 22 10c10-3 10 13 1 12m-12 4l5 4 5-4m-5-10v14"></path>
      </svg>
      <h3>Our Services</h3>
      <p>From an operations perspective, availability of field information in near real time allows a business to plan
        delivery schedules, reduce inventory and monitor and control the field workers.</p>
      <p> Field force automation is seen
        as beneficial to businesses in regard of customer relations, maintaining skills among the field workforce, and
        limiting the size of this workforce.</p>
      <h5>Mobile Enterprise</h5>
      <p>Capture of field sales or service information in real time using communications technology, typically handheld
        PDAs, wireless devices, tablet PCs or mobile phones</p>
      <hr class="half-rule">
      <a class="btn btn-outline-primary" style="border-color: #7952b3;" href="#">Explore the
        docs</a>
    </div>

    <div class="col-md-4 p-3 p-md-5 bg-light border border-white">
      <!-- Icon by Bytesize https://github.com/danklammer/bytesize-icons -->
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" stroke="currentcolor"
        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="text-primary mb-2"
        viewBox="0 0 32 32" focusable="false">
        <title>Lightning</title>
        <path d="M18 13l8-11L8 13l6 6-8 11 18-11z"></path>
      </svg>
      <h3>Utility Power Future of the Electric Grid</h3>
      <p>
        E&U portfolio of utility power generation products helps power the world.
      </p>
      <h5>Distribution Optimization</h5>
      <p>Building on traditional SCADA and DMS functions with advanced applications that are both adaptive and optimized
        in their objective functions. Enabling utilities to make greater use of automation as a solution for solving
        growing grid complexity.</p>
      <h5>Outage Response</h5>
      <p>Already demonstrated as a benchmark for outage management and proven to perform through the worst of storms.
        Now expanding beyond traditional centralized OMS functions, adding mobility, damage assessment and moving
        towards predictive analytics to reduce and minimize disruptions from outages seen by utilities.</p>
      <hr class="half-rule">
      <a class="btn btn-outline-primary" style="border-color: #7952b3;" href="#">Learn More</a>
    </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="http://sairamvuppari.epizy.com/" target="_blank"> sairamvuppari</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>